header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 3% 0;
  width: 100vw;
  background-color: #202020;
}
.header-right {
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin-right: 2%;
}
header > a {
  margin-left: 2%;
}

header img {
  width: 40px;
}
.content {
  margin: 15% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.groupNav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  margin-top: 4%;
  border: 2px solid #ffffff;
  border-radius: 20px;
}
.groupNav-item,
.groupNav-center {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
}
.groupNav-center {
  border-style: solid;
  border-color: #ffffff;
  border-top: 2px;
  border-bottom: 2px;
}
.groupNav-item:first-child:hover {
  background-color: white;
  border-radius: 10px 0 0 10px;
  color: black;
}

.groupNav-center:hover {
  background-color: white;
  border-radius: 0 0 0 0;
  color: black;
}
.groupNav-item:last-child:hover {
  background-color: white;
  border-radius: 0 10px 10px 0;
  color: black;
}
.depense {
  display: flex;
  width: 80vw;
  margin-top: 4%;
  justify-content: space-around;
}
.depense-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transaction {
  margin-top: 4%;
  width: 90vw;
}
.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  padding: 4% 0;
  margin: 4% 0;
  border-radius: 20px;
}
.transaction-item-left {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
}
.transaction-item-right {
  margin-right: 4%;
}
.transaction-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.addTransaction {
  position: fixed;
  bottom: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16vw;
  text-decoration: none;
  text-align: center;
}
