* {
    padding: 0;
    margin: 0;
}


.logo-tricount {
    margin-left: 5%;
    margin-top: 4%;
    width: 70%;
}

.button-card {
    margin-left: 5%;
    margin-top: 5%;
}

.button-card a {
    width: 95%;
    background-color: rgb(48, 48, 48);
    color: white;
    border: none;
    border-radius: 1rem;
    height: 5rem;
}
