.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-tricount {
  margin-top: 4%;
  width: 70%;
}
.newGroup {
  position: fixed;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  text-decoration: none;
  line-height: 3vh;
  text-align: center;
}
.button-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 4%;
  width: 80%;
  padding: 4% 0;

  background-color: #303030;
  border-radius: 8px;

  text-decoration: none;
  color: white;
}
