* {
    padding: 0;
    margin: 0;
}


.logo-tricount {
    margin-left: 5%;
    margin-top: 4%;
    width: 70%;
}

.button-text {
    margin-left: 5%;
    margin-top: 5%;
}

.button-card a {
    width: 95%;
    background-color: rgb(48, 48, 48);
    border: none;
    border-radius: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-card {
    margin-left: 50%;
    margin-top: 50%;
    text-decoration: none;
    color: white;
}

.button-icon {
    margin-left: 40%;
}
