* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #202020;

}

.logo-tricount {
    margin-left: 5%;
    margin-top: 4%;
    width: 70%;
}

.button-text {
    margin-left: 5%;
    width: 90%;
    background-color: rgb(48, 48, 48);
    border: none;
    border-radius: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-card {
    margin-left: 50%;
    margin-top: 50%;
    text-decoration: none;
    color: white;
}

.button-icon {
    margin-left: 40%;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    background: #000;
    border-top: 1px solid #1a1a1a;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.6;
    color: white;

}

.nav-icon {
    font-size: 28px;
}

.nav-label {
    font-size: 12px;
}

.nav-icon:hover {
    color: blue;
}

.nav-item:hover {
    color: blue;
}