header {
  display: flex;
  gap: 10%;
  position: fixed;
  align-items: center;
  top: 0;
  padding: 3% 0;
  width: 100vw;
  background-color: #202020;
}
header > a {
  margin-left: 2%;
}

header img {
  width: 40px;
}

.content {
  margin: 15% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  width: 100%;
}
.title > p {
  margin-left: 1%;
}
.title-content {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}
.title-input {
  width: 85%;
  height: 10vw;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  background-color: #303030;
}
.title-option {
  border-radius: 20px;
  background-color: #303030;
  width: 10vw;
  height: 10vw;
}
.save {
  position: fixed;
  bottom: 2vh;
  width: 90%;
  padding: 3% 0;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  background-color: #0091ff;
}
