* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #202020;
  min-height: 100vh;
}

p, label {
  color: white;
  font-size: large;
}
h1 {
  color: white;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  background: #202020;
  border-top: 1px solid #1a1a1a;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav-icon {
  font-size: 28px;
}

.nav-label {
  font-size: 12px;
}
